/* encabezado */
.nav {
    background-color: yellow;
}

/* cuerpo */
h1, h2, h3 {
    text-align: center;
}

section, .centrar {
    margin-left: 40%;
}


.textoH3 {
    text-align: center;
}

.moverIzq {
    margin-left: 30%;
}

.pie {
    background-image: linear-gradient(to bottom, red, yellow);
}

a{
    color: white;
}
/* tarjetas */
.card-title {
    text-align: center;
}
.card-text, .moverI {
    margin-left: 10%;
}

#contenedor{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}